* {
    margin: 0;
    padding: 0;
}

:root{
    --primary: black;
    --secondary: midnightblue;
}

#body {
    scroll-behavior: smooth;
    transition: 0.3s;
    background: #252525;
}

.overflow-loading-hidden {
    overflow:hidden;
}

.visible-section {
    display: block!important;
}

.visible-section-flex {
    display: flex!important;
}

.section-off {
    display: none!important;
}
/************************************Preloader************************************/

.initial-animation {
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-animation {
    width: 300px;
}

.content-animation {
    overflow: hidden;
    margin-left: -900%;
    height: 190px;
    transition: 0.3s;
}

.open-animation-one {
    margin-left: 0;
    transition: 0.3s;
}

.open-animation-two {
    height: 300px;
    transition: 0.3s;
}

.window-loader-off {
    display: none!important;
}

.window-loader-off-opacity {
    transition:0.3s;
    opacity: 0;
}


/************************************Header************************************/

.header-app {
    width: 100%;
    height: 60px;
    z-index: 1;
    background: #0e0e0e;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header {
    width: 50px;
    height: 55px;
}

/*************************************Main*************************/

.main-content {
    width: 100%;
    height: 170%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-game-play {
    background: var(--primary);
    color: #810c06;
    width: 90%;
    text-align: center;
    padding: 0.5em;
    height: 260px;
    max-width: 550px;
    flex-wrap: wrap;
    border-radius: 7px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-game-play h1 {
    font-size: 35px;
    font-family: 'Montserrat';
    color: #013679;
}

.icon-card-play {
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

/******************************Footer*******************************/

.nav-class {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #0e0e0e;
    height: 70px;
}

.nav-menu-buttons {
    width: 100%;
    border: none;
    font-size: 25px;
    transition: 0.3s;
    background: none;
    color: #810c06;
}

.nav-menu-buttons:focus {
    outline: none;
}

.focus-class-nav {
    color: white;
    transition: 0.3s;
    background: black;
}

/************************************sections-users**************************/

.load-animation-section {
    width: 100%;
    height: 100%;
    margin-top: -80px;
    transition: 0.3s;
    position: fixed;    
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-span-1 {
    width: 100px;
    height: 100px;
    border-right: 8px solid red;
    border-radius: 50%;
    transform: rotate(-1020deg);
    transition: 0.3s;
    animation: span-circle-1 ease 1s infinite;
}

@keyframes span-circle-1 {
    0% {transform: rotate(-1020deg)}

    100% {transform: rotate(0deg)}
}

.circle-span-2 {
    width: 70px;
    height: 70px;
    border-right: 8px solid white;
    border-radius: 50%;
    position: absolute;
    transform: rotate(1020deg);
    transition: 0.3s;
    animation: span-circle-2 ease 1s infinite;
}

@keyframes span-circle-2 {
    0% {transform: rotate(1020deg)}

    100% {transform: rotate(0deg)}
}

.user-card {
    width: 90%;
    max-width: 500px;
    margin: auto;
    height: 200px;
    padding: 0.3em;
    background: var(--primary);
    border-radius: 6px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.name-users {
    text-align: center;
    font-family: 'Montserrat';
}

.city-user {
    text-align: center;
    font-family: 'Montserrat';
    color: red;
}

.title-users {
    text-align: center;
    font-family: 'Montserrat';
    border-bottom: 3px solid #df0000;
    padding-bottom: 0.3em;
}

/************************************sections**************************/

.generic-section {
    position: absolute;
    color: white;
    margin-top: 80px;
    width: 100%;
    height:100%;
}




